PREFIX=!
BOT_NAME=Ghost-Bot
OWNER_NAME=Picolas
OWNER_NUMBER=
LOGIN_METHOD=qr
PHONE_NUMBER=
AUTH_PATH=./data/auth
REPO_URL=https://github.com/picolasYT/Ghost-BOT-BETA.git
WEB_PORT=3000
WEB_HOST=0.0.0.0
YT_DLP_PATH=
